/*home*/
*{
    background-color:rgb(28, 28, 31)
}

header{
    display: flex;
    justify-content: space-evenly;
    margin:30px;
    font-family: 'Open Sans', sans-serif;
    gap: 10px;
}

hr{
    border: solid

}
a:link{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(105, 180, 105);
}

a{
    color: white;
}
.container-home>img{
    display:flex;
    justify-content: center;
    height: 40vw;
    border-radius: 150px;
    float: right;
    margin-right: 8em;
    margin-top: 5vw;
    max-width: 40em;

    
}

.h3-home{
    color: white;
    text-decoration: underline;
    min-width: 20em;
}
.h3-sophie{
    color:white;
    text-shadow: 2px 2px 4px #000000;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
    margin-top: 4em;;
    
}


.main-home{
    font-size: 30px;
    padding-left:25px;
    color: white;
    font-size: 4vw;
    flex-wrap: wrap;
}
.logo-home{
    font-size: 20px;
    margin-top: 10vw;
}
.fa{
    color: white;
}
.logo-text-about{
    color: white;
}

/* About.css */

.h1-about{
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 3em;
}

.text-about{
        grid-column: 3/-1;
}

    p{
    font-family: 'Open Sans', sans-serif;
}

.img-text-about{
    position: relative;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: white; 
    border-radius: 5px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 15em;
    min-width: 20em;
    max-width: 70em ;
}

.pic-about{
    display: flex;
    border-radius: 5px;
    min-width: 10em;
    max-width: 30em;
}

li{
    
    color:white;
}

 /* CV */

.body-cv{
        background-color: rgb(28, 28, 31);
        box-sizing: border-box;
}
.main-cv{
        display: flex;
        box-sizing: border-box;
        justify-content: center;

}
.computer{
        max-width: 80%;
        border-radius: 10px;
        
}

    
.btn-cv{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    margin-bottom: 2em;
    margin-top: 2em;
}    
    
.h2-cv{
    display: flex;
        justify-content: center;
        color: beige;
        font-family: 'Open Sans', sans-serif;
}
    
h4{
        
    font-family: 'Open Sans', sans-serif;
    color: darkgray;
    text-decoration: underline;
}
        
 .p-cv{
    color: beige;
    font-family: 'Open Sans', sans-serif;
    max-width: 800px
}
    
ul{
     color: beige;
     font-family: 'Open Sans', sans-serif;
    max-width: 800px  
}
    
ol{
    color: beige;
    font-family: 'Open Sans', sans-serif;
    max-width: 800px
}


 /* My projects */

 a {
    color: #fff;
    text-decoration: none;
 }
 .h2-projects{
    color: white;
 }
 .project-div{
    min-width: 30em;
    max-width: 70em;
    min-height: 40em;

 }

 /* Modal*/

 .modal{
    display: flex;
    justify-content: center;
    /* align-items: center; */
 }
 
 a {
    color: #fff;
    text-decoration: none;
 }
 .btn {
    padding: 15px 45px;
    border: 1px solid #fff;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 2em;
    background-color: transparent;
    font-weight: 700;
    transition: .3s;
 }
 .btn:hover {
    background-color: #fff;
    color: #222;
 }
 .popup {
    position: fixed;
    padding: 10px;
    max-width: 500px;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    color:white;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility 0s linear .5s;
    z-index: 1;
 }
 .popup:target {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
 }
 .popup .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: white;
    transition: color .3s;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
 }
 .popup .close:hover {
    color: #f00;
 }
 .close-popup {
    background-color: rgba(0,0,0,.7);
    cursor: default;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility 0s linear .5s;
 }
 .popup:target + .close-popup {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
 }



   